<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Подключение CSS файла из интернета -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Это значит, что сюда будет вставлено все, что находится между block title и endblock в дочернем шаблоне -->
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <!-- Это меню навигации -->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <!-- Это ссылка на главную -->
        <a class="navbar-brand" href="{{ url_for('index')}}">Tea-Short</a>
        <!-- Это кнопка меню для мобилок, сожмите окно, чтобы ее увидеть, она выглядит как три черточки -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Это кнопки меню, которые сожмутся в одну, если мы на мобилке -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <!-- Это страница О нас -->
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('about')}}">О нас</a>
            </li>
            <!-- Это кнопка для добавления нового поста-->
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('create')}}">Новый пост</a>
            </li>
            </ul>
        </div>
    </nav>
    <!-- Это контейнер, в котором показываются flash-сообщения -->
    <div class="container">
        <!-- цикл for, который возьмет все текущие flash-сообщения и вставит их сюда -->
        {% for message in get_flashed_messages() %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
        <!-- Это значит, что сюда будет вставлено все, что находится между block content и endblock в дочернем шаблоне -->
        {% block content %} {% endblock %}
    </div>

    <!-- Тут подключается весь JS код для работы Bootstrap -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>