<!-- Это значит, что данный шаблон является расширением base.html -->
{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Добро пожаловать в Tea-Short {% endblock %}</h1>
    <!-- Это цикл for, который достает все значения из переменной posts и подставляет их в шаблон -->
    {% for post in posts %}
        <a href="{{ url_for('post', post_id=post['id']) }}">
            <h2>{{ post['title'] }}</h2>
        </a>
        <span class="badge badge-primary">{{ post['created'] }}</span>
        <a href="{{ url_for('edit', id=post['id']) }}">
            <span class="badge badge-warning">Редактировать</span>
        </a>
        <hr>
    {% endfor %}
{% endblock %}